
.center {
  margin: auto;
  padding: 10px;
}
/****** Background color *******/
/*********** Dark **************/
.fond.theme{
  background: linear-gradient(to left, #0f0c29, #302b63, #24243e);
}
.fond-sec.theme {
  background-color:rgb(41, 42, 59) ;
}
.fond-ter.theme{
  background-color: #232629;
}
.flashCard.theme {
  box-shadow: rgb(255, 255, 255) 0px 1px 10px;
}
/*********** Light **************/
.fond.theme.light{
  background: linear-gradient(to left, #948af0, #c3befc, #9c9cfd);
}
.fond-sec.theme.light {
  background-color:#c7b299 ;
}
.fond-ter.theme.light {
  background-color:rgb(238, 220, 202) ;
}
.flashCard.light {
  box-shadow: rgb(0, 0, 0) 0px 1px 10px;
}

/****** Texte color *******/
/********** Dark **********/
.texte-color.theme{
  color: white;
}
a.nav-link.active.texte-color.theme{
  color: white;
}
.icon.theme {
  fill: black;
}
.svg-fill.theme {
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(100deg) brightness(115%) contrast(106%);
}
.footerTitle.theme {
  border-bottom: 2px solid #ffffff; 
  /*border-bottom: 2px solid #000000;*/
  padding-bottom: 5px
} 
/********** Light **********/
.texte-color.theme.light{
  color:black;
}
a.nav-link.active.texte-color.theme.light{
  color: black;
}
.icon.theme.light {
  /*fill: rgb(255, 230, 0);*/
  fill:white;
}
.svg-fill.theme.light {
  filter: invert(0%);
}
.btn.button-theme.light{
  background-color: #60b8ff;
}
.btn.button-theme.light:hover{
  background-color: #4c84b1;
}
.footerTitle.theme.light {
  border-bottom: 2px solid black; 
  /*border-bottom: 2px solid #000000;*/
  padding-bottom: 5px
}


/******** Navbar bg ********/
/********** Dark **********/
.navbar-scrolled.theme {
  background-color: #3660ba;
  /*background-color:rgba(34, 32, 30, 1) ;*/
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.5);
}
#MenuNavbar.theme{
  background-color: #BA6436;
  box-shadow: 0 5px 5px rgba(255, 255, 255, 0.5);
}
/********** Light **********/
.navbar-scrolled.theme.light {
  background-color:  #6a99ff;
  /*background-color: #BA6436;*/
  box-shadow: 0 3px 10px rgba(0, 0,0, 0.5);
}
#MenuNavbar.theme.light{
  background-color: rgb(221, 186, 162);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}
/*
.nav-link.texte-color{
  color: white;
}
*/


/****** Main Navigation Bar ******/

.navbar { transition: all 0.3s;}
#LogoNav {opacity: 0; transition: all 0.3s; border: 2px solid;border-radius: 30px;border-color: black;background: black;}
#LogoNav.light {border: 0px;}
#MainNavbar {top:0; }
a.nav-link.active {font-weight: bold;}
a.nav-link:hover{
  /*color:black;*/
  color: rgb(148, 148, 148);
}
a.nav-link.texte-color:hover{
  /*color:black;*/
  color: rgb(148, 148, 148);
}

/****** Images ******/

.bg-image {
    /*width: 100vw;*/
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter:brightness(0.4);
}
.HeaderImage.theme {
  filter:brightness(0.4);
}
.HeaderImage.theme.light {
  filter:brightness(0.6);
}
#CarteHeader.bg-image.theme.light {
  filter:brightness(0.8);
}
img {margin-bottom: -7px}
.w3-row-padding img {margin-bottom: 12px}
.bg-image-secondaire {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: auto;
  z-index: -1;
  filter: brightness(0.5);
  opacity: 1; 
  transition: filter 0.5s;
}
.bg-image-secondaire:hover {
  filter: brightness(0.2);
}
.center-img {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}


/****** Animation *******/
.title {
  animation: fadeIn 2s;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.animate-on-scroll {
    /* Initialement invisible avec une opacité de 0 */
    opacity: 0;
    /* Translation initiale de 50 pixels vers le bas */
    transform: translateY(50px);
    /* Animation pour la transparence et la translation */
    transition: opacity 0.5s ease-in-out, transform 0.6s ease-in-out;
  }

.animate-on-scroll.is-visible {
  /* Devenir visible avec une opacité de 1 */
  opacity: 1;
  /* Translation initiale de 0 pixels */
  transform: translateY(0);
}



  
.loading-spinner{
  width:30px;
  height:30px;
  border:2px solid indigo;
  border-radius:50%;
  border-top-color:#0001;
  display:inline-block;
  animation:loadingspinner .7s linear infinite;
}
@keyframes loadingspinner{
  0%{
    transform:rotate(0deg)
  }
  100%{
    transform:rotate(360deg)
  }
}
