<!DOCTYPE html>
<html lang="fr" class="h-100" data-bs-theme="light">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/Script/Theme.js"></script>
    <script src="/static/Script/Cookie.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


    <meta charset="UTF-8">
    <title>Projet MIR</title>
    <link rel="stylesheet" href="/static/CSS/Boostrap.css">
    <link rel="stylesheet" href="/static/CSS/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/jumbotron/">


    
    <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
        <symbol id="check2" viewBox="0 0 16 16">
        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
        </symbol>
        <symbol id="circle-half" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"/>
        </symbol>
        <symbol id="moon-stars-fill" viewBox="0 0 16 16">
        <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"/>
        <path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"/>
        </symbol>
        <symbol id="sun-fill" viewBox="0 0 16 16">
        <path d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"/>
        </symbol>
    </svg>

    <style>
        #search{
            width: 60%;
            height: 40px;
            margin: 10px auto;
            justify-content: center;
            display: block;
            color: #fff;
            background: #573b8a;
            font-size: 1em;
            font-weight: bold;
            margin-top: 20px;
            outline: none;
            border: none;
            border-radius: 5px;
            transition: .2s ease-in;
            cursor: pointer;
        }
        #search:hover{
            background: #6d44b8;
        }
    </style>

</head>
<body class="fond theme">

    <nav class="navbar theme navigation navbar-expand-md navbar-scrolled sticky-top" id="MainNavbar">
        <div class="container-fluid">
            <a  class="navbar-brand ms-3" href="/">
                <img src="static/Images/logo.png" alt="Logo" width="50" height="50" class="d-inline-block align-text-top theme" style="border-radius: 50%;">
            </a>
            <button id="nav-button" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    
                    <li class="nav-item my-auto mx-md-2 mx-auto">
                        <svg class="bi my-1 my-auto theme-icon-active icon theme" width="1em" height="1em" type="button" onclick="ChangeTheme();CloseNav()"><use id="moonandsun" href="#moon-stars-fill"></use></svg>
                    </li>

                    <li class="nav-item mx-md-2 mx-auto">
                        <a class="nav-link active fs-md-3 texte-color theme" aria-current="page" href="/">Accueil</a>
                    </li>
                    {% if session.logged_in %}
                    <li class="nav-item mx-md-2 mx-auto">
                        <a class="nav-link fs-md-3 texte-color theme" href="{{url_for('search')}}">Recherche</a>
                    </li>
                    <!-- Bouton de déconnexion -->
                    
                    <li class="nav-item my-auto mx-md-2 mx-auto"></li>
                        <a href="{{ url_for('logout') }}" class="btn btn-secondary">Déconnexion</a>
                    </li>
                    {% else %}
                    <li class="nav-item my-auto mx-md-2 mx-auto"></li>
                        <a href="{{ url_for('login') }}" class="btn btn-success">Connexion</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="container mx-auto text-center texte-color theme mt-5 py-5" >
            <div class="">
                <h1 class="mx-auto text-center">Projet de Multimedia Information Retrieval</h1>
                <p class="lead mx-auto w-100">
                    Découvrez notre projet de Multimedia Information Retrieval dédié à l'indexation et à la recherche d'images de voitures. Nous utilisons une variété de descripteurs, des méthodes traditionnelles aux modèles de deep learning, pour indexer les images selon la marque et le modèle. Notre système de recherche permet une exploration rapide et précise des images de voitures à partir d'une requête. Nous analysons les performances en fonction des descripteurs et des méthodes de calcul de distance pour fournir des insights pertinents. Plongez dans notre projet pour une exploration captivante de la recherche d'informations multimédias dans le domaine automobile.
                </p>
                <form method="POST" action="/">
                    <button id="search" class="my-5" type="submit" name="search" value="search">Découvrir</button>
                </form>
                
            </div>
        </div>

        <div class="container w-75 mx-auto mb-5 text-center texte-color theme" >
            <div class="row">
                <div class="col-md-6 my-5 my-md-0">
                    <img src="static/Images/DeepIlia.svg" class="mx-auto" style="width: 70%;">
                </div>
                <div class="col-md-6 my-5 my-md-0">
                    <img src="static/Images/logo Polytech.png" class="mx-auto" style="width: 70%;">
                </div>
            </div>
        </div>

        <div class="container w-75 mx-auto my-5 py-3 text-center texte-color theme" >
            <h2 class="mb-5">Projet réalisé par :</h2>
            <div class="row">
                <div class="col-md-6 my-5 my-md-0">
                    <h5 class="my-4 mx-auto">Harrison NGUYEN - MA1 IG</h5>
                    <img src="static/Images/Harrison.jpg" class="mx-auto  flashCard theme" style="width: 70%;border-radius: 50%;">
                </div>
                <div class="col-md-6 my-5 my-md-0">
                    <h5 class="my-4 mx-auto ">Samuel WERTZ - MA1 IG</h5>
                    <img src="static/Images/Samuel.jpg" class="mx-auto  flashCard theme" style="width: 70%;border-radius: 50%;">
                </div>
            </div>
        </div>
    </div>



</body>
