<!DOCTYPE html>
<html lang="fr">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/script.js"></script>

    <meta charset="UTF-8">
    <title>Moteur de recherche</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <!-- On se prépare à recevoir des messages flash -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <h2>Sélection des options de recherche </h2>

    <!-- Liste déroulante pour concaténation -->
    <form method="post">
        <div class="input-group">
            <label for="mix">Concaténation :</label>
            <select name="mix" id="mix" onchange="toggleCheckboxes()">
                <option value="non">Non</option>
                <option value="oui">Oui</option>
            </select>
        </div>

        <!-- Bouton de déconnexion -->
        {% if session.logged_in %}
            <a href="{{ url_for('logout') }}" class="logout-link">Déconnexion</a>
        {% endif %}

        <!-- Case à cocher pour les descripteurs -->
        <div class="input-group" id="checkboxes" aria-required="true">
            <label>Descripteur(s) :</label><br>
            
            <input type="checkbox" name="BGR" id="BGR" class="single">
            <label for="BGR">BGR</label><br>

            <input type="checkbox" name="HSV" id="HSV" class="single" >
            <label for="HSV">HSV</label><br>

            <input type="checkbox" name="SIFT" id="SIFT" class="single" >
            <label for="SIFT">SIFT</label><br>

            <input type="checkbox" name="ORB" id="ORB" class="single" >
            <label for="ORB">ORB</label><br>
            
            <input type="checkbox" name="GLCM" id="GLCM" class="single" >
            <label for="GLCM">GLCM</label><br>
            
            <input type="checkbox" name="HOG" id="HOG" class="single" >
            <label for="HOG">HOG</label><br>

            <input type="checkbox" name="LBP" id="LBP" class="single" >
            <label for="LBP">LBP</label><br>

            <input type="checkbox" name="VGG16" id="VGG16" class="single" >
            <label for="VGG16">VGG16</label><br>

            <input type="checkbox" name="VGG16_2" id="VGG16_2" class="single" >
            <label for="VGG16_2">VGG16_2</label><br>

            <input type="checkbox" name="VGG19" id="VGG19" class="single" >
            <label for="VGG19">VGG19</label><br>

            <input type="checkbox" name="VGG19_2" id="VGG19_2" class="single" >
            <label for="VGG19_2">VGG19_2</label><br>

            <input type="checkbox" name="ResNet50" id="ResNet50" class="single" >
            <label for="ResNet50">ResNet50</label><br>

            <input type="checkbox" name="ResNet50_2" id="ResNet50_2" class="single" >
            <label for="ResNet50_2">ResNet50_2</label><br>

            <input type="checkbox" name="Xception" id="Xception" class="single" >
            <label for="Xception">Xception</label><br>

            <input type="checkbox" name="Xception_2" id="Xception_2" class="single" >
            <label for="Xception_2">Xception_2</label><br>
            
            <input type="checkbox" name="InceptionV3" id="InceptionV3" class="single" >
            <label for="InceptionV3">InceptionV3</label><br>

            <input type="checkbox" name="InceptionV3_2" id="InceptionV3_2" class="single" >
            <label for="InceptionV3_2">InceptionV3_2</label><br>

        </div>

        <!-- Liste déroulante pour la distance -->
        <div class="input-group" id="distances">
            <label>Distances :</label><br>

            <select name="distance" id="distanceSelect"  class="distance-option">
                <option value="Euclidienne">Euclidienne</option>
                <option value="Correlation">Correlation</option>
                <option value="Chi carre">Chi Carré</option>
                <option value="Intersection">Intersection</option>
                <option value="Brute-force">Bhattacharyya</option>

                <option value="Brute_force">Brute-force</option>
                <option value="Flann">Flann</option>
            </select>

            <form method="POST" action="/">
                <button type='submit' name="confirmation">Confirmer les choix</button>
            </form>

        </div>

        <h2>Choix de l'image de requête</h2>
        
        <!-- Liste déroulante pour l'image requête -->
        <div class="input-group" id="imagerequete"></div>
            <form method="POST" action="/">
                <select name="imageSelect" id="imageSelect"  class="distance-option" required>
                    <option value="1_4_Kia_stinger_1944">R1</option>
                    <option value="1_2_Kia_sorento_1675">R2</option>
                    <option value="1_9_Kia_stonic_2629">R3</option>
                    <option value="3_1_Renault_Twingo_4491">R4</option>
                    <option value="3_0_Renault_grandscenic_4372">R5</option>
                    <option value="3_5_Renault_clio_5101">R6</option>
                    <option value="5_0_Mercedes_ClasseCLS_7059">R7</option>
                    <option value="5_3_Mercedes_classeC_7403">R8</option>
                    <option value="5_8_Mercedes_CLA_7992">R9</option>
                    <option value="7_0_Peugeot_508break_9642">R10</option>
                    <option value="7_3_Peugeot_Rifter_10091">R11</option>
                    <option value="7_6_Peugeot_3008_10530">R12</option>
                    <option value="9_0_Audi_A6_12288">R13</option>
                    <option value="9_3_Audi_Q7_12722">R14</option>
                    <option value="9_4_Audi_A1_12833">R15</option>
                </select>

                <button type='submit' name="affichage">Afficher</button>
            </form>

            {% if config['image_url'] %}
                <img src="{{ config['image_url'] }}" height="200">
            {%endif%}

            <br>

            <form method="POST" action="/">
                <button type='submit' name="indexation">Indexer l'image</button>
            </form>
        </div>

        <h2>Affichage des résultats</h2>

        <!-- Boutons pour afficher les images et la courbe RP -->
        <button class='bouton' type='button' id='top50'>Affichage du top 50</button>
        <br></br>
        <button class="bouton" type='button' id='top100'>Affichage du top 100</button>
        <br></br>
        <div id="conteneur_images"></div>

        <button class='bouton' type="button" id="RP">Affichage courbe RP</button>
        <div id="conteneur_RP"></div>
        <br>

        <!-- Bouton et container pour afficher les temps de processing -->
        <button id="showTimeTable">Tableau des temps</button>

        <div id="timeContainer" style="display: none;">
            <table border="1" id="timeTable">
                <thead>
                    <tr>
                        <th> Descripteur </th>
                        <th> Temps d'indexation (s) </th>
                        <th> Temps de recherche (s) </th>
                        <th> Temps de recherche moyen par image (s) </th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

        <br></br>

        <!-- Bouton et container pour afficher les métriques précises -->
        <button id="showMetricTable">Affichage des métriques</button>

        <div id="metricContainer" style="display: none;">
            <table border="1" id="metricTable">
                <thead>
                    <tr>
                        <th rowspan="2">Requête</th>
                        <th colspan="2">R</th>
                        <th colspan="2">P</th>
                        <th colspan="2">AP</th>
                    </tr>
                    <tr>
                        <th>Top 50</th>
                        <th>Top 100</th>
                        <th>Top 50</th>
                        <th>Top 100</th>
                        <th>Top 50</th>
                        <th>Top 100</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

        <br></br>

        <div id="MAP50"></div>
        
        <div id="MAP100"></div>

    </form>

</body>
</html>