<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        body{
            display: grid;
            place-items: center;
            height: 100vh;
            margin: 0;
        }
    </style>
</head>

<body>

<h1>Page de connexion</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
{% endwith %}

<form method="POST" action="/login">
    <div class="input-group">
        <label for="username">Nom d'utilisateur :</label>
        <input type="text" name="username">
    </div>
    <div class="input-group">
        <label for="password">Mot de passe :</label>
        <input type="password" name="password">
    </div>
    <div class="input-group">
        <input type="submit" name="form_login" value="Se connecter">
        <br></br>
        <input type="submit" name="register" value="S'inscrire">
    </div>
</form>

</body>